

.a {
  height: 75px;
  width:100%;
  padding-top: 30px;
}
.b {
  height:150px;
  padding-top: 67px;
  width:100%;
}
.cd{
  height:125px;
  padding-top: 55px;
  width:100%;
}
.efgh {
height:250px;
padding-top: 117px;
width: 240px;
}
.i {
  height:80px;
  padding-top: 32px;
  width:480px;
  /* float: left; */
}
main {
  width: 480px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
}
div {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width:768px){
  div {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
  }
  main{
    width:960px;
  }
  .b {
    height:600px;
    padding-top: 292px;
    width:200px;
  }
  .cd {
    width:380px;
    height:200px;
    padding-top: 92px;

  }
  .efgh {
    
    height:250px;
    width: 190px;
    flex-wrap: wrap;
    }

  .i{
      height:150px;
      padding-top: 67px;

      width: 760px;
    }
}